body {
    background-color: lightgrey;
}
header {
    background-color:#fff;
    width: 1400px;
    height: 80px;
    margin: 20px;
}

.div1 {
    background-color: #5fe9cb;
    font-size: 30px;
    width: 300px;
    height: 40px;
    padding: 20px;
    color: #fff;
    float: left;
    margin-left: 100px;
    text-align: center;
}

.box{
    position: relative;
    float: left;
    margin-right: 10px;
}

.image-container{
  padding: 10px 0px;
}

.text{
    position: absolute;
    left: 0;
    bottom: 20px;
    padding: 5px 10px 0;
    color:white;
    background-color: #5fe9cb;
    width: 218px;
    height: 33px;
}
.div2 {
    background-color:#fff;
    font-size: 26px;
    width: 700px;
    height: 500px;
    padding: 30px;
    float: left;
    margin-left: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.portfolio{
    background-color:#fff;
    font-size: 26px;
    width: 555px;
    height: 627px;
    padding: 30px;
    float: left;
    margin-left: 100px;
    text-align: center;
    margin-bottom: 10px;
}

.box img{
    width: 247px;
    height: 186px;
}
.div3 {
    background-color:#fff;
    font-size: 26px;
    width: 350px;
    height: 200px;
    padding: 20px;
    float: right;
    margin-right: 250px;
    text-align: center;
    margin-bottom: 20px;
}
.div3 img{
    width: 60px;
    height: 60px;
}
form {
    width: 71px;
    margin-left: -20px;
}
textarea {
    width: 500px;
    height: 200px;
    margin-top: 5px;
}
input[type=text] {
    width: 500px;
    margin-bottom: 10px;

    
}
ul {
   float: right;
   margin-right: 100px;
   margin-top: 26px;
   font-size: 20px;

}

button 
{
    background-color:#13d4ab;
    width: 150px;
    height: 50px;
}
ul li {
    display: inline;
    margin-right: 47px;
}
.img1 {
    width: 300px;
    height: 250px;
    float: left;
}
li a{
    text-decoration: none;
}
footer {
    background-color: green;
    height: 10px;
    width: 90%;
    padding-bottom: 50px;;
    clear: both;
    position: relative;
    margin-top: -40px;
    margin-left: 60px;
    color: #fff;
    text-align: center;
    padding-top:40px;
}